html,
body {
  margin: 0;
  padding: 0;
}

.button-wrapper {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.button-wrapper .react-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}

.ghost {
  padding: 20px;
  background: rgb(190, 200, 200);
}
